tr,td{
    border:1px;
    border-style: solid;
}
td{
    height: 50px;
    width: 50px;
    background-color: white;
}


Red
{
    border-color:black;
    background-color: red;
}


Green
{
    border-color: black;
    background-color: green;
}


Blue
{
    border-color: black;
    background-color: blue;
}


Yellow
{
    border-color: black;
    background-color: yellow;
}